<%= content_for :title, 'Bem-vindo'  %>

<%= content_for :banner do %>
  <h1>Encontre plantões pelo <b>seu celular</b></h1>
  <p>Conecte-se com Facebook e receba notificações de plantões por <strong>SMS, iPhone ou Android</strong></p>
  <div class="fb-login-button">
    <%= link_to('/auth/facebook', id: "sign_in") do %>
      <div><p id="facebook-logo">Receber plantões</p></div>
    <% end %>
  </div>
<% end %>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <div class="row">
    <div class="span12">
      <div class="card">
        <h1>Escolha que tipo de plantão você deseja fazer</h1>
        <p class="lead">Escolha suas preferências de plantões e receba, no celular, apenas as vagas do seu interesse.</p>
      </div>
    </div>
  </div>
</div>
