<tr>
  <article itemscope itemtype="http://schema.org/JobPosting">
    <td>
      <p class="date">
        <h4><%= l plantao.when, :format => :short %></h4>
        <span class="label"><%= plantao.specialty %></span>
        <span class="label label-info" itemprop="workHours"><%= plantao.how_long %>h</span>
      </p>
    </td>
    <td>
      <h4><%= link_to plantao.where, plantao, :itemprop=>"url" %></h4>
      <p>
        <span itemscope itemtype="http://schema.org/ContactPoint">
          Tratar com: <span itemprop="name"><%= plantao.contactName %></span>,
          telefone: <span itemprop="telephone"><%= plantao.contactPhone %></span>.
        </span>
        <%= plantao.obs %><br />
        <small>
          <time itemprop="datePosted" datetime="<%=plantao.created_at%>"><%= "Postado há #{distance_of_time_in_words plantao.created_at, Time.now}" %></time>
        </small>
      </p>
    </td>
    <td>
      <h4><span itemprop="salaryCurrency" content="BRL">R$</span><span itemprop="baseSalary"><%= plantao.how_much %></span></h4>
    </td>
  </article>
</tr>
