<tr>
  <article itemscope itemtype="http://schema.org/JobPosting">
    <td>
      <p class="date">
        <h4><%= l plantao.when, :format => :short %></h4>
        <span class="label label-info<%= '-light' if 12 == plantao.how_long %>" itemprop="workHours"><%= plantao.how_long %>h</span>
        <span class="label"><%= plantao.specialty %></span>
      </p>
    </td>
    <td>
      <h4><%= link_to plantao.where, plantao, :itemprop=>"url" %></h4>
      <p>
        <%= plantao.obs %><br />
        <span href="#" itemscope itemtype="http://schema.org/ContactPoint">
          Tratar com: <span itemprop="name"><%= plantao.contactName %></span>
        </span>
        <small>
          <time itemprop="datePosted" datetime="<%=plantao.created_at%>"><%= "Postado há #{distance_of_time_in_words plantao.created_at, Time.now}" %></time>
        </small>
      </p>
    </td>
    <td>
      <h4><span itemprop="salaryCurrency" content="BRL">R$</span><span itemprop="baseSalary"><%= plantao.how_much %></span></h4>
      <% phones = plantao.contactPhone.split.select {|phone| phone.gsub('-', '').to_i > 0 } %>
      <% phones.each do |phone| %>
      <a href="tel:<%= phone %>"
          class="contact phone"
          data-content="<%= plantao.contactName %>, <%= phone %>"
          data-placement="bottom"
          data-id="<%= plantao.id %>">
        </a>
      <% end %>
    </td>
  </article>
</tr>
