<% content_for :title, 'Detalhes do plantão' %>
<p id="notice"><%= notice %></p>
<% if notice %>
  <h3>Mensagem para o WhatsApp</h3>
  <p>
    <%= "#{@plantao.where}, #{l @plantao.when, :format => :short}. R$#{@plantao.how_much}. #{@plantao.how_long}h. #{@plantao.specialty}. #{@plantao.obs}" %><br />
    Contato no site: <%= plantao_url @plantao %>
  </p>
  <% content_for :javascript do %>
    <script type="text/javascript">
      $(document).live("facebook:ready", function() {
          FACEBOOK.login();
      });
      $(document).live("facebook:logged", function() {
          FACEBOOK.sendRequestToRecipients('<%= plantao_url @plantao %>');
      });
    </script>
  <% end %>
<% end %>

<%= render @plantao%>

<%= link_to 'Voltar para os anúncios', plantoes_path %>
