<% content_for :title, 'Detalhes do plantão' %>
<p id="notice"><%= notice %></p>
<% if notice %>
  <h3>Mensagem para o WhatsApp</h3>
  <p>
    <%= "#{@plantao.where}, #{l @plantao.when, :format => :short}. R$#{@plantao.how_much}. #{@plantao.how_long}h. #{@plantao.specialty}. #{@plantao.obs}" %><br />
    Contato no site: <%= plantao_path @plantao %>
  </p>
  <% content_for :javascript do %>
    sendRequestToRecipients('<%= plantao_path @plantao %>');
  <% end %>
<% end %>

<%= render @plantao%>

<%= link_to 'Voltar para os anúncios', plantoes_path %>
