<p id="notice"><%= notice %></p>
<% if notice %>
  <h3>Mensagem para o WhatsApp</h3>
<p>
  <%= "#{@plantao.where}, #{l @plantao.when, :format => :short}. R$#{@plantao.how_much}.
  #{@plantao.how_long}h. #{@plantao.specialty}. #{@plantao.obs}. " %><%= link_to('Contato no site', @plantao) %>
</p>
<% end %>

<p>
  <b>Where:</b>
  <%= @plantao.where %>
</p>

<p>
  <b>When:</b>
  <%= @plantao.when %>
</p>

<p>
  <b>How much:</b>
  <%= @plantao.how_much %>
</p>

<p>
  <b>How long:</b>
  <%= @plantao.how_long %>
</p>

<p>
  <b>Specialty:</b>
  <%= @plantao.specialty %>
</p>

<p>
  <b>Contactname:</b>
  <%= @plantao.contactName %>
</p>

<p>
  <b>Contactphone:</b>
  <%= @plantao.contactPhone %>
</p>

<p>
  <b>Obs:</b>
  <%= @plantao.obs %>
</p>


<%= link_to 'Edit', edit_plantao_path(@plantao) %> |
<%= link_to 'Back', plantoes_path %>
