<h1>Plantões para próxima quinzena</h1>

<table border="1">
  <thead>
    <tr>
      <th>Entrada</th>
      <% (0..15).each do |i| %>
        <th nowrap><%= (Date.today + i.day).to_formatted_s :rfc822 %></th>
      <% end %>
    </tr>
  </thead>

  <% plantoes_grouped = group_by_when_and_how_long(@plantoes) %>
  <tbody>
    <tr>
      <td>Diurno</td>
      <% (0..15).each do |i|
          day = (Date.today + i.day).to_formatted_s :rfc822
          plantoes_by_how_long = plantoes_grouped[day]
          if (plantoes_by_how_long)
            plantoes_by_how_long['12h'].each do |plantao| %>
            <td><%= plantao.where %>, R$<%= plantao.how_much %>, <%= plantao.specialty %></td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <td>Noturno</td>
      <% (0..15).each do |i|
          day = (Date.today + i.day).to_formatted_s :rfc822
          plantoes_by_how_long = plantoes_grouped[day]
          if (plantoes_by_how_long)
            plantoes_by_how_long['24h'].each do |plantao| %>
            <td><%= plantao.where %>, R$<%= plantao.how_much %>, <%= plantao.specialty %></td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>
