<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quero Plantão :: <%= content_for :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Quero Plantão', root_url, class: 'brand' %>
          <div class="nav-collapse collapse" id="main-menu">
            <ul class="nav pull-right" id="main-menu-right">
              <% if current_user %>
                <li><%= link_to current_user.name, user_path(current_user) %></li>
                <li><%= link_to "Sair", signout_path, id: "sign_out" %></li>
              <% else %>
                <li><%= link_to 'Crie uma conta como anunciante', new_advertiser_path, id: "advertiser_sign_in" %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="span8">
          <%= yield %>
        </div>
        <div class="span3">
          <% if current_user %>
            <p><%= link_to 'Anuncie um plantão', new_plantao_path, class: "btn btn-large btn-primary" %></p>
          <% else %>
            <p><%= link_to image_tag('facebook-button.png'), "/auth/facebook", id: "sign_in" %></p>
          <% end %>
            <div class="thumbnail fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>
            <div id="fb-root"></div>
            <div class="span3">
            <br>
            <p><%= link_to "Login do anunciante", new_plantao_path,  id: "session_new", :class=> "btn" %></p> </div>
        </div>
      </div>
    </div>

    <%= content_for :javascript %>
  </body>
</html>
